---
import ThemeManager from './ThemeManager.astro';
import '@fontsource-variable/onest';
import onestWoff2 from '@fontsource-variable/onest/files/onest-latin-wght-normal.woff2?url';

const OgBanner = new URL('/og.jpg', Astro.url);
interface Props {
	title?: string;
	desc?: string;
	ogImage?: URL | undefined;
}

const { title, desc = 'A dedicated CMS for Astro DB.', ogImage = OgBanner } = Astro.props;

const studioTitle = `StudioCMS${title ? ` - ${title}` : ''}`;
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='generator' content={Astro.generator} />
  <title>{studioTitle}</title>
  <meta name='description' content={desc} />
  <link rel="canonical" href={Astro.url} />
  <meta property='og:title' content={studioTitle} />
  <meta property='og:description' content={desc} />
  <meta property='og:image' content={ogImage} />
  <meta property='og:url' content={Astro.url} />
  <meta property='og:type' content='website' />
  <meta name='twitter:card' content='summary_large_image' />
  <meta name="twitter:url" content={Astro.url} />
  <meta name='twitter:title' content={studioTitle} />
  <meta name='twitter:description' content={desc} />
  <meta name='twitter:image' content={ogImage} />
  <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href={onestWoff2} />

  <ThemeManager defaultTheme="dark" />
  <script 
    is:inline 
    defer 
    src="https://analytics.studiocms.xyz/script.js" 
    data-website-id="e3a84c8d-d45a-49d9-932b-00eeb63f8c48">
  </script>
</head>
