---
import { join } from 'node:path';
import { AstroFont } from 'astro-font';
import ThemeManager from './ThemeManager.astro';

const OgBanner = new URL('/og.png', Astro.url);
interface Props {
	title?: string;
	ogImage?: URL | undefined;
}

const { title, ogImage = OgBanner } = Astro.props;

const studioTitle = `StudioCMS${title ? ` - ${title}` : ''}`;
const description = 'A dedicated CMS for Astro DB.';
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='generator' content={Astro.generator} />
  <title>{studioTitle}</title>
  <meta name='description' content={description} />
  <link rel="canonical" href={Astro.url} />
  <meta property='og:title' content={studioTitle} />
  <meta property='og:description' content={description} />
  <meta property='og:image' content={ogImage} />
  <meta property='og:url' content={Astro.url} />
  <meta property='og:type' content='website' />
  <meta name='twitter:card' content='summary_large_image' />
  <meta name="twitter:url" content={Astro.url} />
  <meta name='twitter:title' content={studioTitle} />
  <meta name='twitter:description' content={description} />
  <meta name='twitter:image' content={ogImage} />

  <ThemeManager defaultTheme="dark" />
  <script 
    is:inline 
    defer 
    src="https://analytics.studiocms.xyz/script.js" 
    data-website-id="e3a84c8d-d45a-49d9-932b-00eeb63f8c48">
  </script>
  <AstroFont
    config={[
      {
        src: [
          {
            path: join(process.cwd(), 'public', 'font', 'BalooChettan2-Bold.woff2'),
            weight: '400',
            style: 'normal',
          },
          {
            path: join(process.cwd(), 'public', 'font', 'BalooChettan2-Bold.woff2'),
            weight: '800',
            style: 'bold',
          }
        ],
        name: 'BalooChettan',
        preload: true,
        display: 'swap',
        selector: 'h1, h2, h3, h4, h5, h6',
        fallback: 'sans-serif',
      },
      {
        src: [{
          path: join(process.cwd(), 'public', 'font', 'ZenKakuGothicNew-Regular.woff2'),
          weight: '400',
          style: 'normal',
        }],
        name: 'zenkaku',
        preload: true,
        display: 'swap',
        selector: 'body',
        fallback: 'sans-serif',
      },
    ]}
  />
</head>
