---
import Icon from '@/utils/Icon.astro';
import { Button, DoubleSidebar } from '@studiocms/ui/components';
import { RootLayout, type RootLayoutProps } from '@studiocms/ui/layouts';

type Props = RootLayoutProps;

const { title, description, image, headers, lang = 'en', defaultTheme = 'dark' } = Astro.props;
---
<RootLayout 
  {title}
  {description}
  {image}
  {headers}
  {lang}
  {defaultTheme}
>
  <main class="main">
    <DoubleSidebar>
      <div slot="outer" class="outer">
        <a href="/">Components</a>
        <a href="/sidebar">Single Sidebar</a>
        <Button variant="solid" color="primary" class="show-inner" id={'show-inner'}>
          To Inner Sidebar
        </Button>
      </div>
      <div slot="inner">
        <Button variant="outlined" color="primary" class="nav-back" id={'nav-back'}>
          <Icon name="arrow-left" height={24} width={24} />
        </Button>
        <Button variant="solid" color="primary" class="to-content" id={'to-content'}>
          Content
        </Button>
      </div>
    </DoubleSidebar>
    <div class="content">
      <slot />
    </div>
  </main>
</RootLayout>
<style>
  .main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .outer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  .nav-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
  }

  .show-inner {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    .nav-back {
      display: flex;
    }

    .show-inner {
      display: flex;
    }
  }
</style>