---
import Default from "../../../layouts/Default.astro"
import type { Locals } from "../locals";
import { Pages, Admins, db, eq } from 'astro:db';

const postArrayed = await db.select().from(Pages).where(eq(Pages.slug, "index"));

const post = postArrayed[0];

const locals = Astro.locals as Locals;
const isLoggedIn = locals.isLoggedIn;

if (!isLoggedIn) {
    return Astro.redirect('/dashboard/login');
}

const getUserName = () => {
    if (locals.isLoggedIn) {
	    if (locals.dbUser.name) {
	    	return locals.dbUser.name;
	    } else {
	    	return locals.user.username;
	    }
    } 
    return null;
};

const adminList = await db.select().from(Admins);

const isAdmin = async (user: string) => {
    if (adminList.includes({GitHubUsername: user})) {
        return true;
    }
    return false;
};

//@ts-ignore
if (!isAdmin(locals.user.username)) {
    console.log('User is not an admin');
    return Astro.redirect('/dashboard');
}

if (Astro.request.method === 'POST') {
    const formData = await new Request(Astro.request.url, {
        method: Astro.request.method,
        headers: Astro.request.headers,
        body: Buffer.from(await Astro.request.arrayBuffer()),
    }).formData();

    const title = formData.get('title');
    const description = formData.get('description');
    const heroImage = formData.get('hero-image');
    const content = formData.get('content');

    await db.update(Pages)
            .set({
                title: title as string,
                slug: "index",
                description: description as string,
                heroImage: heroImage as string,
                content: content as string,
            })
            .where(eq(Pages.slug, "index"))
            .then(() => {
                return new Response('Post updated', { status: 200 });
            }).catch(() => {
                return new Response('Error updating post', { status: 500 });
            });

    return Astro.redirect('/dashboard')
}

---

<Default>
        <div class="dash">
            <div class="dash-header">
                <form class="left" method="post" action="/dashboard">
                    <button class="btn">Dashboard</button>
                </form>
                <form class="right" method="post" action="/dashboard/logout">
                    <button>Logout</button>
                </form>
            </div>
            <center>
                <h1>Edit Home Page</h1>
            </center>
            <div>
                <p class="font-small">
                Currently logged in as: <bold>{getUserName}</bold> 
                </p>

                <form method="post" enctype="multipart/form-data" >
                
                    <label for="title">Page Title</label><br>
                    <input 
                        type="text" 
                        id="title" 
                        name="title" 
                        placeholder="Your Page Title" 
                        value={post.title}
                        required><br>
                    <label for="slug">Slug</label><br>
                    <input 
                        type="text" 
                        id="slug" 
                        name="slug" 
                        placeholder="your-Page-slug"
                        value={post.slug}
                        disabled
                        required><br>
                    <label for="description">Description</label><br>
                    <input
                        type="text" 
                        id="description" 
                        name="description" 
                        placeholder="Your Page's basic description"
                        value={post.description}
                        required><br>
                    <label for="hero-image">Hero Image</label><br>
                    <p class="info-text">Use the 'https://' full url, or the direct Cloudinary media library asset (Example: 'samples/landscapes/nature-mountains')</p><br>
                    <input 
                        type="text" 
                        id="hero-image" 
                        name="hero-image" 
                        placeholder="Your Page's hero image URL"
                        value={post.heroImage}
                        required><br>
                    <label for="content">Content</label><br>
                    <textarea 
                        id="content" 
                        name="content" 
                        data-provide="markdown" 
                        rows="10" 
                        placeholder="Your Page's content in markdown format."
                        required>{post.content}</textarea><br><br>

                    <button class="grn-btn" type="submit">Update!</button>

                </form>

                
            </div>
        </div>
</Default>

<style>
    .dash {
        padding: 2rem;
        border: 2px solid #ccc;
        border-radius: 5rem;
        background-color: #fff;
        margin: 2rem;
        
    }
    bold {
        font-weight: bold;
    }
    .font-small {
        font-size: 1rem;
    }
    .dash-header {
        display: flex;
        justify-content: space-between;
    }
    .right {
        display: flex;
        justify-content: flex-end;
        padding-right: 4rem;
    }
    .left {
        display: flex;
        justify-content: flex-start;
        padding-left: 4rem;
    }
    button {
        padding: 1rem;
        background-color: rgb(202, 0, 0);
        font-weight: bold;
        color: #fff;
        border: none;
        border-radius: 99rem;
        cursor: pointer;
    }
    .btn {
        padding: 1rem;
        background-color: rgb(0, 37, 202);
        font-weight: bold;
        color: #fff;
        border: none;
        border-radius: 99rem;
        cursor: pointer;
    }
    .grn-btn {
        padding: 1rem;
        background-color: rgb(0, 241, 0);
        font-weight: bold;
        color: #000000;
        border: none;
        border-radius: 99rem;
        cursor: pointer;
    }
    input {
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 0.25rem;
        border: rgb(124, 124, 124) 1px solid;
        width: 35vmax;
    }
    textarea {
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 0.25rem;
        border: rgb(124, 124, 124) 1px solid;
        width: 100%;
    }
    label {
        font-size: large;
        font-weight: bold;
    }
    .info-text {
        font-size: small;
        display: inline;
        font-style: italic;
    }

</style>