---
import { Image } from "astro:assets";

export interface Props {
  images: Array<{ 
    imageMetadata: ImageMetadata; 
    alt: string; 
  }>;
};

const { images } = Astro.props;

const galleryImagesMinusFirst = images.slice(1);
---

<sl-carousel class="carousel-thumbnails" navigation loop>
  {
    images.map((image, index) => (
      <sl-carousel-item id={index}>
        <Image
          src={image.imageMetadata}
          alt={image.alt}
          width="1280"
          height="1900"
        />
      </sl-carousel-item>
    ))
  }
</sl-carousel>

<div class="thumbnails">
  <div class="thumbnails__scroller">
    <Image 
      src={images[0].imageMetadata}
      alt={images[0].alt + ' ' + 'thumbnail'}
      width="64"
      height="64"
      class="thumbnails__image active"
    />
    {
      galleryImagesMinusFirst.map((image) => (
        <Image
          class="thumbnails__image"
          src={image.imageMetadata}
          alt={image.alt + ' ' + 'thumbnail'}
          width="64"
          height="64"
        />
      ))
    }
  </div>
</div>

<script>
  import type { SlCarousel } from '@shoelace-style/shoelace';
  import '@shoelace-style/shoelace/dist/components/carousel/carousel.js';

  const carousel = document.querySelector('.carousel-thumbnails') as SlCarousel;
  const scroller = document.querySelector('.thumbnails__scroller') as HTMLElement;
  const thumbnails = document.querySelectorAll('.thumbnails__image') as NodeListOf<HTMLElement>;

  scroller?.addEventListener('click', e => {
    const target = e.target as HTMLElement;

    if (target?.matches('.thumbnails__image')) {
      const index = [...thumbnails].indexOf(target);
      carousel.goToSlide(index);
    }
  });

  carousel?.addEventListener('sl-slide-change', e => {
    const slideIndex = e.detail.index;

    [...thumbnails].forEach((thumb, i) => {
      thumb.classList.toggle('active', i === slideIndex);
      if (i === slideIndex) {
        thumb.scrollIntoView({
          block: 'nearest'
        });
      }
    });
  });
</script>

<style>
  .carousel-thumbnails {
    --slide-aspect-ratio: 3 / 2;
  }

  .thumbnails {
    display: flex;
    justify-content: center;
  }

  .thumbnails__scroller {
    display: flex;
    /* gap: var(--sl-spacing-small); */
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-padding: var(--sl-spacing-small);
  }

  .thumbnails__scroller::-webkit-scrollbar {
    display: none;
  }

  .thumbnails__image {
    width: 64px;
    height: 64px;
    object-fit: cover;

    opacity: 0.3;
    will-change: opacity;
    transition: 250ms opacity;

    cursor: pointer;
  }

  .thumbnails__image.active {
    opacity: 1;
  }
</style>
