---
import { Badge, Icon } from '@astrojs/starlight/components';
import Version from './Version.astro';

interface Props {
	title: string;
	githubURL: string;
	released?: boolean;
	isPlugin?: boolean;
	publiclyUsable?: boolean;
}

const { title, githubURL, released = true, isPlugin = false, publiclyUsable = false } = Astro.props;

function parsePackageName(packageName: string): {
	scoped: boolean;
	scope: string | null;
	name: string;
} {
	// Check if the package is scoped
	if (packageName.startsWith('@')) {
		const parts = packageName.split('/');
		return {
			scoped: true,
			scope: parts[0], // the scope (e.g., '@scope')
			name: parts[1] || '', // the package name after the slash (e.g., 'packagename')
		};
	}
	return {
		scoped: false,
		scope: null, // no scope for unscoped packages
		name: packageName, // just the package name
	};
}

const { scoped, scope, name } = parsePackageName(title);

const generateBadgeMeta = (
	isPlugin: boolean,
	publiclyUsable: boolean
): {
	text: string;
	variant: 'tip' | 'success' | 'note' | 'danger' | 'caution' | 'default' | undefined;
} | null => {
	if (isPlugin) {
		return {
			text: 'Plugin',
			variant: 'tip',
		};
	}
	if (publiclyUsable) {
		return {
			text: 'Publicly Usable',
			variant: 'caution',
		};
	}
	return null;
};

const badgeMeta = generateBadgeMeta(isPlugin, publiclyUsable);

const showBadge = badgeMeta !== null;
---

<div class="wrapper">
	<h4 id="_top">
        {
            scoped 
            ? <span class="scope">{scope}/</span><span>{name} { showBadge && <Badge {...badgeMeta} />}</span> 
            : <span>{name} { showBadge && <Badge {...badgeMeta} />}</span>
        }
	</h4>
	<div class="integration-metadata">
		{released ? <Version pkgName={title} /> : <code>N/A</code>}
    		<a href={githubURL}>
                <Icon size="1rem" name="github" /> GitHub
			</a>
			<a href={'https://www.npmjs.com/package/' + title}>
				<svg width="16" height="16" viewBox="0 0 576 512" fill="currentColor" aria-hidden="true">
					<path d="M288 288h-32v-64h32v64zm288-128v192H288v32H160v-32H0V160h576zm-416 32H32v128h64v-96h32v96h32V192zm160 0H192v160h64v-32h64V192zm224 0H352v128h64v-96h32v96h32v-96h32v96h32V192z" />
				</svg>
				npm
			</a>
			<a href={githubURL + 'CHANGELOG.md'}>
				<Icon size="1rem" name="list-format" /> Changelog
			</a>
		</div>
	</div>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	h4 {
		display: flex;
		flex-wrap: wrap;
		color: var(--sl-color-white);
		font-size: var(--sl-text-h1);
		font-weight: 600;
		line-height: var(--sl-line-height-headings);
	}
	.scope {
		color: var(--sl-color-text);
		font-weight: 400;
	}
	.integration-metadata {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.5rem 1rem;
		font-size: var(--sl-text-xs);
	}
	.integration-metadata a {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		text-decoration: none;
		color: var(--sl-color-text-accent);
	}
	.integration-metadata a:hover {
		color: var(--sl-color-white);
	}
	.integration-metadata svg {
		width: 1.5rem;
	}
</style>